/* General */
* {
    box-sizing: border-box;
}
:root {
    --purple-light-1: #FBFAFB;
    --purple-light-2: #EEEAF2;
    --purple-medium-1: #AA83C8;
    --purple-medium-2: rgb(163,88,181);
    --purple-medium-3: #5C218A;
    --purple-dark-1: #3E0F64;
    --purple-dark-2: #2A0646;
  
    --yellow: #EECC75;
    --green: #CAD297;
    --aqua: #B7EAC5;
    --lightBlue: #A2EEE5;
    --darkBlue: #8EA2EA;
    --red: #cd4d4d;
  
    --font-family-titles: 'Dosis', sans-serif;
    --font-family-text: 'Red Hat Display', sans-serif;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
  }

html {
    font-size: 62.5%;
    background-color: var(--purple-medium-3);
}
body {
    /* background: rgb(139,72,191);
    background: radial-gradient(circle, rgba(139,72,191,1) 0%, rgba(138,191,204,1) 100%); */
    /* background: rgb(139,72,191);
background: radial-gradient(circle, rgba(139,72,191,1) 0%, rgba(140,155,160,1) 100%); */
/* background: rgb(88,214,227);
background: radial-gradient(circle, rgba(88,214,227,1) 0%, rgba(4,137,181,1) 100%); */
/* background: rgb(88,214,227);
background: linear-gradient(90deg, rgba(88,214,227,1) 0%, rgba(4,137,181,1) 100%); */
/* background: rgb(163,88,181);
background: linear-gradient(60deg, rgba(163,88,181,0.7763480392156863) 0%, rgba(4,137,181,1) 100%); */
background: rgb(163,88,181);
background: linear-gradient(60deg, rgba(163,88,181,0.927608543417367) 0%, rgba(4,137,181,0.7511379551820728) 100%);
    color: var(--purple-light-2);
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text1);
    font-size: 1.6rem;
    margin: 0 0 0 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}
h1, h2 {
    font-size: 24px;
    color: var(--purple-light-1);
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 18px;
    color: var(--purple-light-2);
    font-weight: var(--font-weight-title2);
}
  
h3 {
    color: var(--purple-light-2);
    font-weight: var(--font-weight-text2);
    font-size: 16px;
}
input{
    background-color: var(--purple-light-2);
    color: var(--purple-medium-2);
    border: none;
    font-size: 1.8rem;
    padding-left: 16px;
}
input::placeholder{
    color: var(--purple-medium-1);
    font-family: var(--font-family-text);
}
button{
    background-color: var(--purple-dark-1);
    border: none;
    color: var(--purple-light-2);
    font-weight: var(--font-weight-text2);
    font-size: 1.4rem;
    cursor: pointer;
}
.movie_container .imageError{
  background-color: var(--purple-dark-1);
  width: 100%;
  min-height: 225px;
  height: 100%;
  display: flex;
}
/* Shared */
.header_container, .trendingPreview_header, .categoriesPreview_container {
    padding: 0 24px;
  }
  
  .trendingPreview_container, .categoriesPreview_container, footer {
    margin-top: 48px;
  }
  
  .trendingPreview_header, .categoriesPreview_title {
    margin-bottom: 24px;
  }
.movie_container{
    cursor: pointer;
}
.movie_img{
    border-radius: 8px;
    min-height: 225px;
    min-width: 100%;

}


/* Header */

.header_container{
    padding-top: 40px;
}
.header_container--long {
    background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg');
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
    background-size: cover !important;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
}
.header_container--categoryView {
    background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
}
.header_title{
    margin-bottom: 16px;
}
.header_arrow{
    font-weight: var(--font-weight-text2);
    font-size: 3.6rem;
    margin-bottom: 16px;
    cursor: pointer;
    display: inline-block;
}
.header_arrow--white{
    color: var(--purple-light-1);
}
.header_searchForm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
}
.header_searchForm input{
  height: 48px;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.header_searchForm button{
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Trending */
.trendingPreview_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trendingPreview_btn{
    border-radius: 8px;
    height: 32px;
    width: 72px;
}
.trendingPreview_movieList{
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  height: auto;
  padding: 16px 0 16px 24px;
}
.trendingPreview_movieList .movie_container {
  display: flex;
  margin-right: 8px;
  border-radius: 20px;
  height: 225px;
  width: 150px;
  }
  
  .trendingPreview_movieList .movie_container .movie_img {
    height: 100%;
    min-height: 225px;
    max-height: 225px;
    width: 100%;
    min-width: 150px;
    max-width: 150px;
  }
  .movie-container--loading{
    background: var(--purple-light-2);
    display: inline-block;
    border-radius: 8px;
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    margin-bottom: 15px;
    animation: loading-skeleton infinite 1.5s;
  }
  .movie-container--loading:nth-child(2){
    animation-delay: 0.2s;
  }
  .movie-container--loading:nth-child(3){
    animation-delay: 0.4s;
  }
  
  
  /* Categories */
  .categoriesPreview_list, .categories_list{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    place-items: center;
  }
  .category_container {
    width: 100%;
  }
  .category_container--loading{
    background: var(--purple-light-2);
    border-radius: 8px;
    height: 1.6rem;
    width: 45%;
    margin-bottom: 15px;
    animation: loading-skeleton infinite 1.5s;
  }
  .category_title {
    margin-bottom: 8px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .category_title::before {
    content: '••••';
    color: transparent;
    /* TODO: cambiar color por ID de la categoría */
    background-color: var(--idColor);
    border-radius: 8px;
    margin-right: 8px;
    width: 8px;
    height: 8px;
  }
  #id28 { --idColor: var(--yellow); }
  #id12 { --idColor: var(--red); }
  #id16 { --idColor: var(--green); }
  #id35 { --idColor: var(--lightBlue); }
  #id80 { --idColor: var(--darkBlue); }
  #id99 { --idColor: var(--purple-dark-1); }
  #id18 { --idColor: var(--purple-medium-1); }
  #id10751 { --idColor: var(--yellow); }
  #id14 { --idColor: var(--red); }
  #id36 { --idColor: var(--green); }
  #id27 { --idColor: var(--lightBlue); }
  #id10402 { --idColor: var(--darkBlue); }
  #id9648 { --idColor: var(--purple-dark-1); }
  #id10749 { --idColor: var(--purple-medium-1); }
  #id878 { --idColor: var(--yellow); }
  #id10770 { --idColor: var(--red); }
  #id53 { --idColor: var(--green); }
  #id10752 { --idColor: var(--lightBlue); }
  #id37 { --idColor: var(--darkBlue); }
  
  
  /* Generic List (search, trending & category) */
  .genericList_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    place-items: center;
    gap: 20px;
    padding: 0 24px;
  }
  .genericList_container .movie_container {
    display: flex;
    width: 100%;
    border-radius: 20px;
    background-color: var(--purple-dark-1);
  }
  
  .genericList_container .movie_img {
    width: 100%;
  }
  .movie-container{
    border-radius: 20px;
  }
  .movie_container span{
    position: absolute;
    color: var(--lightBlue);
  }
  
  /* Movie Detail */
  .movieDetail_container {
    width: 100%;
    height: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 32px 24px 0;
    margin-top: 403px;
    overflow: scroll;
    z-index: 1;
    position: absolute;
    background: rgba(132, 132, 132, 0.45);
    backdrop-filter: blur(20px);
  }
  .movieDetail_container::-webkit-scrollbar{
    display: none;
  }
  
  .movieDetail_title {
    display: inline-block;
    width: 80%;
    margin: 0 0 16px 0;
    padding: 0;
  }
  
  .movieDetail-score {
    display: inline-block;
    text-align: right;
    width: 18%;
    font-weight: var(--font-weight-title2);
  }
  .movieDetail-score::before {
    content: '★';
    color: var(--yellow);
    padding-right: 4px;
  }
  
  .movieDetail-description {
    margin: 0 0 24px 0;
  }
  
  .relatedMovies_container {
    width: 100%;
    overflow: scroll;
    scroll-behavior: auto;
    margin-top: 24px;
    height: auto;
  }
  .relatedMovies_container::-webkit-scrollbar{
    display: none;
  }
  .relatedMovies_title {
    margin-bottom: 16px;
  }
  
  .relatedMovies-scrollContainer {
    display: flex;
    width: 100vw;
    padding-bottom: 16px;
  }
  
  .relatedMovies-scrollContainer .movie_container {
    display: flex;
    margin-right: 8px;
  }
  
  .relatedMovies-scrollContainer .movie_img {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    height: 210px;
    min-height: 210px;
    max-height: 210px;
  }
    
  
  /* Footer */
  footer {
    background-color: var(--purple-medium-3);
    /* background: rgba(132, 132, 132, 0.3);
    backdrop-filter: blur(10px); */
    color: var(--purple-light-2);
    text-align: center;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer span{
    color: var(--red);
    margin: 0 7px;
  }
  footer span{
    animation: 0.8s heart 1s ease-in-out infinite
  }
  @keyframes heart{
    0%{
      transform: scale(1);
    }
    30%{
      transform: scale(1.05);
    }
    40%{
      transform: scale(1.1);
    }
    70%{
      transform: scale(1.17);
    }
    100%{
      transform: scale(1.05);
    }
  }
 
  
  
  /* Navigation */
 
  @keyframes loading-skeleton{
    0%, 100%{
      opacity: 100%;
    }
    50%{
      opacity: 0%;
    }
  }
/*      ARREGLAR */
@media(min-width:350px){
  .movie_container .imageError{
    min-height: 64vw;
    max-height: 100%;
  }
  /*      ARREGLAR */
  }
@media(min-width: 760px){
  body{
    display: flex;
    flex-direction: column;
  }
  .header_container--long{
    object-fit: contain;
  }
  .movie_container{
    transform: scale(1);
    transition: transform 0.8s ease-in-out;
  }
  .movie_container:hover{
    box-shadow: 0 0 20px var(--purple-dark-1);
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
  }
  .movieDetail_container {
    width: 35%;
    min-height: 100%;
    height: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 32px 24px 24px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    right: 0;
  }
  .relatedMovies-scrollContainer {
    display: grid;
    grid-auto-columns: 170px;
    grid-auto-flow: column;
    place-items: center;
    grid-template-rows: repeat(2, 230px);
  }
}
.inactive {
  display: none;
}